!
router bgp {{ bgp_asn }}
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
{% for neighbor in bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
{% if neighbor.asn == bgp_asn %}
 neighbor {{ neighbor.ip }} update-source Loopback0
{% endif %}
 neighbor {{ neighbor.ip }} fall-over bfd
{% endfor %}
 !
 address-family ipv4
{% if bgp.networks is defined %}
{% for network in bgp.networks %}
  network {{ network | ip_address }} mask {{ network | ip_netmask }}
{% endfor %}
{% endif %}
{% if bgp.aggregates is defined %}
{% for aggregate in bgp.aggregates %}
  aggregate-address {{ aggregate | ip_address }} {{ aggregate | ip_netmask }} summary-only
{% endfor %}
{% endif %}
{% for neighbor in bgp.neighbors %}
  neighbor {{ neighbor.ip }} activate
{% if neighbor.asn == bgp_asn %}
  neighbor {{ neighbor.ip }} next-hop-self
{% endif %}
{% endfor %}
 exit-address-family
{% for vrf in vrfs %}
 !
 address-family ipv4 vrf {{ vrf.name }}
{% for network in vrf.bgp.networks %}
  network {{ network | ip_address }} mask {{ network | ip_netmask }}
{% endfor %}
{% for aggregate in vrf.bgp.aggregates %}
  aggregate-address {{ aggregate | ip_address }} {{ aggregate | ip_netmask }} summary-only
{% endfor %}
{% for neighbor in vrf.bgp.neighbors %}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
  neighbor {{ neighbor.ip }} fall-over bfd
  neighbor {{ neighbor.ip }} activate
{% endfor %}
{% endfor %}
