{% for interface in interfaces %}
!
interface {{ interface.name }}
{% if interface.encapsulation is defined %}
 encapsulation dot1q {{ interface.encapsulation }}
{% endif %}
{% if interface.vrf is defined %}
 vrf forwarding {{ interface.vrf }}
{% endif %}
{% if interface.description is defined %}
 description {{ interface.description }}
{% endif %}
 ip address {{ interface.ip | ip_address }} {{ interface.ip | ip_netmask }}
{% endfor %}
