config t
!
ip routing
{% if vlans is defined %}
{% include 'vlans.j2' %}
{% endif %}
{% if trunks is defined %}
{% include 'trunks.j2' %}
{% endif %}
{% if interfaces is defined %}
{% include 'interfaces.j2' %}
{% endif %}
{% if bgp is defined %}
{% include 'bgp.j2' %}
{% endif %}
!
end
{% if commands is defined %}
{% include 'output_commands.j2' %}
{% endif %}
