{% for vrf in vrfs %}
!
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
{% for export in vrf.exports %}
 route-target export {{ export }}
{% endfor %}
{% for import in vrf.imports %}
 route-target import {{ import }}
{% endfor %}
 !
 address-family ipv4
 exit-address family
{% endfor %}