{% for interface in interfaces %}
!
interface {{ interface.interface }}
{% if interface.description %}
 description {{ interface.description }}
{% endif %}
 ip address {{ interface.ip | ip_address }} {{ interface.ip | ip_netmask }}
 ip router isis
{% if interface.interface != 'loopback0' %}
 bfd interval 300 min_rx 300 multiplier 3
{% endif %}
{% endfor %}
