config t
!
ip routing
{% if system_mtu is defined %}
{% include 'system_mtu.j2' %}
{% endif %}
{% if interfaces is defined %}
{% include 'interfaces.j2' %}
{% endif %}
{% if isis is defined %}
{% include 'isis.j2' %}
{% endif %}
!
end
{% if commands is defined %}
{% include 'output_commands.j2' %}
{% endif %}
